.come-on {
  display: flex;
  flex-direction: column;
  padding: 45px 0 45px 25px;
  color: $basic-white;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url("../img/bcg/come-on-bcg.webp") lightgray 50% / cover no-repeat;

  @media (max-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.come-on__heading {
  max-width: 900px;
  font-size: 48px;
  text-transform: capitalize;

  @media (max-width: $tablet-width) {
    font-size: 36px;
  }
}

.come-on__about {
  margin: 25px 0;
  font-family: "Coda Caption", "Arial", sans-serif;
  font-weight: 800;

  @media (max-width: $tablet-width) {
    font-size: 16px;
  }
}
