.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 285px;

  .btn {
    max-width: 210px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 30px;

  }
}

input {
  box-sizing: border-box;
  max-height: 40px;
  padding: 10px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $basic-white;
  background: transparent;
  border-radius: 5px;
  border: 1px solid $input-border;


  &::placeholder {
    color: lightgrey;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
}

.form_message.error.inactive {
  display: none;
}

.form_message.error.active {
  display: block;
  color: #0a0a0a;
}

.error {
  color: red;
  border-color: red !important;
}

label.error {
  margin-top: -15px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

#phone1-error {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

.form__checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  accent-color: $main-color;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
}
.form__checkbox-label input {
  width: 18px;
  height: 18px;
}

.form__checkbox-label a {
  color: #fff;
  text-decoration: underline;
}
