.page-header {
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url("../img/bcg/header-bcg.webp") lightgray 50% / cover no-repeat;

  @media (max-width: $tablet-width) {
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      url("../img/bcg/header-bcg.webp") lightgray 7% / cover no-repeat;
  }
}

.page-header__wrapper {
  &--logo {
    padding: 28px;
    background: rgba(0, 0, 0, 0.5);
  }

  &--promo {
    padding: 77px 227px 175px 0;
  }

  @media (max-width: $tablet-width) {
    &--logo {
      padding: 20px;
    }

    &--promo {
      padding: 77px 15px 150px 15px;
    }
  }
}
