.promo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
  margin-left: auto;
  font-family: "Coda Caption", "Arial", sans-serif;

  .btn {
    max-width: 210px;
  }

  @media (max-width: $tablet-width) {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);

    .btn {
      text-shadow: unset;
    }
  }
}

.promo__heading {
  font-size: 48px;
  text-transform: capitalize;

  @media (max-width: $tablet-width) {
    font-size: 36px;
  }
}

